body {
    background-color: rgba(24, 49, 0, 0.432);
}
p {
    color: rgb(0, 0, 0);
    width: 80%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: calc(10px + 1vw);
}
#banner {
    height: 50vw;
    width: 100%;
    display: block;
    z-index: 1;
}
h1 {
    position: absolute;
    top: 15vw;
    left: 15%;
    z-index: 2;
    font-size: 6vw;
}
nav {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 8vw;
}
nav a {
    background-color: white;
    font-size: calc(5px + 1.5vw);
    border-style: solid;
    border-color: rgba(24, 49, 0, 0.432);
    padding: 1.5%;
    border-radius: 30px;
    text-align: center;
    width: 10em;
    color: black;
}
nav a:visited {
    color: black;
}
#home_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h3 {
    font-size: calc(10px + 1vw);
}
li {
    font-size: calc(10px + 1vw);
}
footer{
    border-style: dashed;
    width: 100%;
    display: block;
    margin-top: 5%;
}
footer h2 {
    text-align: center;
    font-size: calc(16px + 1vw);
}
footer a{
    font-size: calc(10px + 1vw);
    margin-left: 30%;
}
@media screen and (max-width: 767px) {
    /* Small devices  */
    #home_content {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Medium devices  */
    
}

@media screen and (min-width: 992px) {
    /* Large devices  */
   
}